body {
    background-color: #f0f2f5;
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    background-color: #1a5c37 !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.main-card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.main-card h1 {
    color: #1a5c37;
    font-weight: 800;
}

/* Estilos del Mapa */
#map {
    height: 350px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #1a5c37;
    z-index: 1;
}

/* Botón GPS */
.btn-gps {
    background-color: #2e7d32;
    color: white;
    border-radius: 8px;
    font-weight: 600;
    padding: 5px 15px;
    border: none;
    transition: 0.3s;
}

.btn-gps:hover {
    background-color: #1a5c37;
    color: white;
    transform: scale(1.05);
}

/* Tarjetas de Información */
.info-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    border-bottom: 4px solid #2e7d32;
    height: 100%;
}

.info-card h4 {
    color: #2e7d32;
    font-weight: bold;
}

/* Formulario */
.form-card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
}

.form-control {
    border-radius: 10px;
    height: 45px;
}

.btn-report {
    background: #e63946;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px;
    border: none;
    transition: 0.3s;
}

.btn-report:hover {
    background: #c1121f;
    transform: scale(1.02);
    color: white;
}
